target/
.env*
!.env.example
.idea/
.mvn/
*.iml
.classpath
.project
.settings/
docs/tmp/
docs/java-getting-started/
docs/deploying-spring-boot-apps/
.mvn/wrapper/maven-wrapper.jar
curl.sh
*.tar.gz
*.jpg
*.mp4
.DS_Store