.scroll {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 12px;
    border: 2px solid transparent;
    background-clip: padding-box; // <== make the border work
  }

  ::-webkit-scrollbar-thumb:hover{
    border: 0;
    background: #888;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}